body{
    background-color: rgb(188, 204, 168);
    text-align: center;
}

canvas{
    border: 4px solid rgba(37, 53, 17, 0.87);
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
    border-bottom: transparent;
    background-image: url(img/fondo.jpg);
}

h1{
    margin: 0 auto;
    margin-top: 7.5rem;
    font-size: 50px;
    font-weight: 250;
    letter-spacing: .3rem;
    font-family: fantasy;
    color: rgba(29, 43, 12, 0.87);
}